<head>
<title>客户绑定</title>
</head>

<body class="login">
  <img src="/assets/kits/login.jpg" class="img-responsive">
  <div class="login-container">
   <%= bootstrap_flash %>
  <%= simple_form_for :customer, url: bound_weixin_customers_path(openid: params[:openid], path: params[:path]) do |f| %>
      <div class="form-group">
        <input name="name" class="form-control" id="exampleInputEmail1" placeholder="员工姓名">
      </div>
      <div class="form-group">
        <input name="identity" class="form-control" id="exampleInputPassword1" placeholder="身份证号">
      </div>
      <div class="form-group">
        <input name="phone" class="form-control" id="exampleInputPassword1" placeholder="联系电话">
      </div>
      <button type="reset" class="btn">取 消</button>
      <button type="submit" class="btn btn-confirm">确 定</button>
    </div>
  <% end %>
</body>
</html>

