$('#kit-images-list').html("<%= j render('admin/images/list')%>")
$('#images-list').prepend('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= t("successes.messages.kits.update")%></div>')
com.onetrip.admin.common.initFileUpload()
com.onetrip.admin.image.initImage()
com.onetrip.admin.common.initTooltip()