$('#merchant-images-list').html("<%= j render('admin/merchant_images/list')%>")
$('#images-list').prepend('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button><%= t("successes.messages.merchants.update")%></div>')
com.onetrip.admin.common.initFileUpload()
com.onetrip.admin.merchant.initImage()
com.onetrip.admin.common.initTooltip()