#admin-admin_users {
  #setting {
    fieldset {
      margin-top: 0;
      padding-top: 0;
      legend {
        margin-bottom: 0;
      }
    }
    .control-group {
      padding-left: 20px;
      width: 200px;
    }
  }
}