/*
 * = require bootstrap3
 * = require video-js
 * = require style
 */
 .login-container {
 	text-align: center;
 }
.alert-success {
	color: green;
}
.alert-error {
	color: red;
}
#flash-alert {
	margin-bottom:15px;
	text-align: center;
	button {
		visibility:hidden;
		position: relative;
		boder: 0;
		height: 25px;
		width: 25px;
		padding-left: 10px;
		top: -3px;
	}
}